@import url('./reset.scss');

body{
    background-color: #f4f5f5;
}

.layout-box {
    max-width: 750px;
    margin: 20px auto;
    padding: 20px;
    // text-align: center;
    background: #fff;
    box-shadow: 6px 6px 21px rgba(0,0,0,.05);
  }
  
  .layout-box h1 {
    margin-top: 20px;
    margin-top: 20px;
  }


