.home-page {
  height: calc(100vh - 64px);
  overflow-y: auto;
  background: #f8f8f8;


  .user-list {
    max-width: 920px;
    margin: 20px auto 0;
    background: #fff;
    box-shadow: 7px 12px 18px #00000008;
  }
}

.post-preview-card {
  position: relative;
  display: flex;
  padding: 12px 18px;

  justify-content: space-between;
  width: 100%;

  // &::before{
  //   display: block;
  //   height: 0px;
  //   border:1px

  // }

  .post-info{
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    font-size: 14px;
    color: #b2bac2;
  }

  .post-title {
    margin-bottom: 0;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(0, 0, 0, .15);
  }

  .split-point{
    padding: 0 4px;
  }

  .active-info{
    display: flex;
    padding-top: 8px;

    & > span{
      display: flex;
      align-items: center;
      padding: 0 6px;
      color: #b2bac2;
      border: 1px solid #eee;

      &:first-child{
        border-right: none;
      }

      .MuiSvgIcon-root{
        width: 0.5em;
        height: 0.5em;
        margin-right: 4px;
      }
    }
  }

  .post-header-bg{
    img, .no-bg{
      width: 80px;
      height: 80px;
    }
  }

  hr {
    position: absolute;
    margin: 0;
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    bottom: 0;

    left: 18px;
    right: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .post-preview-card {
    .post-title {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}