// @import 'src/componentCommon/editor/codemirror.scss';
@import 'src/componentCommon/editor/theme.scss';
@import 'src/componentCommon/editor/hljs.scss';
@import 'src/componentCommon/editor/preview-content.scss';

#root {
  padding: 0;
}

#post-op-popup-menu{
  .MuiMenu-list{
    .collection-show{
      display: flex;

      svg {
        width: 0.8em;
        margin-right: 4px;
      }
    }
  }
}

.app-header {
  opacity: 0 !important;
  transition: opacity 600ms;

  &.header-visible {
    opacity: .8 !important;
  }
}

.post-detail-page {
  padding-bottom: 20px;
  background: #f8f8f8;
}
.hover-bars-wrap,
.side-auth-info {
  position: fixed;
  display: none;
  top: 140px;
  z-index: 9;
}
.hover-bars-wrap {

  .MuiFab-root{
    background: #fff;

    .MuiSvgIcon-root{
      width: 0.7em;
      height: 0.7em;
    }
  }

  .like-num{
    text-align: center;
    padding: 8px 0;
  }

  &.hover-bars-wrap-visible{
    display: block;
  }

  .liked{
    color:#ec7259;

    .MuiFab-root{
      background: #ec7259;
    }

    .MuiSvgIcon-root{
      fill: #fff;
    }
    
  }
}

.side-auth-info{
  width: 200px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);

  &.side-auth-info-visible{
    display: block;
  }
  
  .title{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #ccc;
    padding: 12px 16px;
    color: #333;
    border-bottom: 1px solid hsla(0,0%,58.8%,.1);

    .follow-author{
      color: #de5900;
      border: 1px solid;
      padding: 0 4px;
      cursor: pointer;
      font-weight: 700;
    }
  }

  .user-avater{
    width: 60px;
    height: 60px;
  }

  .auth-info-content{
    padding: 12px;
    cursor: pointer;
  }

  .avater-work{
    display: flex;
  }

  .auth-info-work{
    display: flex;
    flex-direction: column;
    justify-content: center;

    div:first-child{
      font-size: 16px;
      font-weight: 600;
      color: #000;
    }

    div:nth-child(2){
      color: #72777b;
    }
  }

  .active-info{
    display: flex;
    padding: 5px 0;
    
    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      background: #defdff;
      border-radius: 50%;


    }
    svg{
      width: 0.7em;
      height: 0.7em;
    }
  }
}

.post-detail-header {
  background-attachment: scroll;
  height: 300px;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;

  &>.container {
    display: flex;
    padding: 124px 15px 15px;
    justify-content: center;
    align-items: center;

    .post-heading {
      text-align: center;

      h1 {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 36px;
        font-weight: 300;
      }

      .meta {
        font-weight: 300;
        font-size: 16px;
        color: #eee;

        &>span {
          margin-left: 16px;
        }
      }

      .post-tags {
        text-align: center;
        margin-top: 20px;

        .tag-item {
          font-weight: 300;
          border-radius: 4px;
          border: 1px solid;
          margin: 4px;
          padding: 2px 10px;
          font-size: 12px;
        }
      }
    }

  }
}

.post-detail{
  max-width: 920px;
  margin: 0 auto;
  border: none;
  box-shadow: 7px 12px 18px rgba(0, 0, 0, .03);
}


@media only screen and (min-width: 768px) {
  .post-detail-header {
    height: 370px;
  }
}