
.app-header{
  color: #07a2b9!important;
  background-color: rgba(255,255,255,.5)!important;
  backdrop-filter: blur(12px);

  .tool-bar{
    display: flex;
    justify-content: space-between;
  }
  
  .logo-wrap{
    img{
      width: 150px;
    }
  }

  .right-tool-wrap{
    display: flex;
    justify-content: space-between;

    & > button{
      margin-left: 12px;
    }
  }

  .user-avater{
    color: #fff;
    background-color: #673ab7;
    cursor: pointer;
  }
}

#user-menu-popup{
  .MuiMenuItem-root{
    color: #71777c;
    font-size: 15.6px;
    padding-top: 10px;
    padding-bottom: 10px;

    .MuiSvgIcon-root{
      width: 0.8em;
      height: 0.8em;
      margin-right: 6px;
    }
  }
  
}

.block{
  background-color: #fff;
  border-radius: 2px;
}

.shadow{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.split-point{
  padding: 0 4px;
}

