
#publish-post-img-popup-popover{
  .MuiDivider-root{
    margin: 0 -24px;
  }
  .MuiPaper-root{
    width: 400px;
  }

  .post-submit-content{
    padding-top: 14px;
    text-align: center;
  }

  .content-wraps{
    header{
      font-size: 16px;
      color: #909090;
    }
  }
}

.tags-list{
  padding: 10px 0;
  & > div{
    margin: 2px 4px 2px 0;
  }
}

// .category-wrap{
//   padding-bottom: 12px;
// }

.category-btn-wrap{
  & > button:not(.MuiButton-outlinedPrimary){
    color: #aaa;
  }
  & > button {
    padding: 0 8px;
    min-width: 42px;
    margin: 2px 4px 2px 0;
  }
}
.publish-post-op-btn{
  .MuiButton-endIcon{
    margin-left: 0;
  }
}