
#publish-post-img-popup-popover{
  .MuiDivider-root{
    margin: 0 -24px;
  }
  .MuiPaper-root{
    width: 400px;
  }

  .post-submit-content{
    padding-top: 14px;
    text-align: center;
  }

  .tags-wrap{
    header{
      font-size: 16px;
      color: #909090;
    }
  }
}

.tags-list{
  padding: 10px 0;

  & > div{
    margin: 2px 4px 2px 0;
  }
}
.publish-post-op-btn{
  .MuiButton-endIcon{
    margin-left: 0;
  }
}