@import './codemirror.scss';
@import './theme.scss';
@import './hljs.scss';
@import './preview-content.scss';

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1.4rem;
  height: 4rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;

  .editor-title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    border: none;
    outline: none;
  }

  .header-right-area{
    display: flex;
    align-items: center;

    .save-tips{
      color: #aaa;
  
      .MuiButton-root{
        min-width: 44px;
        margin-left: 6px;
        font-size: 14px;
        padding:0;
        color: #aaa;
      }
    }
  }

  
}

.editor-main {
  display: flex;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .editor-box {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    flex: 1 1 50%;
    height: 100%;
    overflow-y: hidden;

    .react-codemirror2{
      height: calc(100% - 40px);
      overflow: auto;

      &.editor-fullscreen{
        width: 920px;
        margin: 0 auto;
      }
    }

    .raw-editor-content {
      height: calc(100% - 40px);
      padding: 20px 32px;
      overflow-y: auto;
    }
  }

  

  .bottom-tool-bar{
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;
    padding: 0 8px;
    background: #fff;
    border-top: 1px solid #ddd;

    .MuiIconButton-root{
      color: #aaa;
      padding: 8px;
    }

    .upload-content{
      input{
        display: none;
      }
    }


    &.toRight{
      .fullscreen{
        transform: rotate(90deg);
      }
    }

    &.toLeft{
      .fullscreen{
        transform: rotate(-90deg);
      }
    }

    &.preview-tool-bar{
      color: #ddd;
    }
  }
}

