@import './reset.scss';
@import './toast.scss';

#root {
  padding-top: 64px;

  .MuiBackdrop-root.async-loading{
    background-color: rgba(255, 255, 255, 0.5);
    .loading-tips{
      margin-left: 10px;
    }
  }
}

a{
  cursor: pointer;
  &:hover{
    text-decoration: none!important;
  }
}
