@import './reset.scss';
@import './toast.scss';

#root {
  padding-top: 64px;
  height: 100vh;
  overflow: auto;
  position: relative;

  .MuiBackdrop-root.async-loading{
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 9;
    .loading-tips{
      margin-left: 10px;
    }
  }

  // & > div > div{
  //   background: #eee;
  // }
}

a{
  cursor: pointer;
  &:hover{
    text-decoration: none!important;
  }
}
